@model IEnumerable<NewsletterWebApp.ViewModels.EmailViewModel>

@{
    ViewData["Title"] = "Wysłane Maile";
    var counter = 1;
}

<div class="text-center">
    <h2>Wysłane Maile</h2>
</div>

<div class="container mt-4 p-3" style="background-color: #f8f9fa; border: 1px solid #ddd; border-radius: 5px; box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1); width: 50%;">
    @foreach (var email in Model)
    {
        <div class="d-flex align-items-center mb-2">
            <span class="me-2 fw-bold">@counter.</span>
            <div>
                <div><strong>Tytuł:</strong> @email.Title</div>
                <div><strong>Wysłano:</strong> @email.CreatedAt.ToString("yyyy-MM-dd HH:mm" ?? "Brak daty")</div>
                <div><strong>Otworzenia:</strong> @email.TotalOpens</div>
                <div><strong>Kliknięcia:</strong> @email.TotalClicks</div>
            </div>
        </div>

        @if (counter < Model.Count())
        {
            <hr style="border: none; height: 1px; background-color: rgba(0, 0, 0, 0.4);">
        }

        counter++;
    }
</div>
