@model NewsletterWebApp.ViewModels.UserAndMailingListViewModel

@{
    ViewData["Title"] = "Główna";
    var counter = 1;
}

<div class="text-center">
    <h1 class="display-4">Witaj!</h1>

    @if (Model?.User?.Email != null)
    {
        <p class="lead">Twój e-mail: <strong>@Model.User.Email</strong></p>

        @if (!Model.User.IsAdmin)
        {
            <div class="container mt-4 p-3" style="background-color: #f8f9fa; border: 1px solid #ddd; border-radius: 5px; box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1); width: 50%;">
                @foreach (var mailingList in Model.MailingLists)
                {
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <div>
                            <span class="me-2 fw-bold">@counter.</span>
                            <span>@mailingList.Name</span>
                        </div>
                        <div>
                            @if (Model.User.MailingListSubscriptionIds.Contains(mailingList.Id))
                            {
                                <form method="post" asp-action="UnsubscribeFromNewsletter" asp-route-id="@mailingList.Id">
                                    <button type="submit" class="btn btn-danger btn-sm me-2">Wypisz się</button>
                                </form>
                            }
                            else
                            {
                                <form method="post" asp-action="SubscribeToNewsletter" asp-route-id="@mailingList.Id">
                                    <button type="submit" class="btn btn-success btn-sm me-2">Zapisz się</button>
                                </form>
                            }
                        </div>
                    </div>

                    @if (counter < Model.MailingLists.Count())
                    {
                        <hr style="border: none; height: 1px; background-color: rgba(0, 0, 0, 0.4);">
                    }

                    counter++;
                }
            </div>
            @*
            @if (Model.User.IsSubscribed)
            {
                <form method="post" asp-action="UnsubscribeFromNewsletter">
                    <button type="submit" class="btn btn-danger btn-lg">Wypisz się z newslettera</button>
                </form>
            }
            else
            {
                <form method="post" asp-action="SubscribeToNewsletter">
                    <button type="submit" class="btn btn-success btn-lg">Zapisz się do newslettera</button>
                </form>
            }
            *@
        }
    }
    else
    {
        <p class="lead">Jesteś niezalogowany. Zaloguj się, aby zobaczyć więcej funkcji.</p>
    }
</div>
